<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 align="center">
        <br>________Register Page________
    </h1>
    <div align=center>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Enter Your Name"><br>
            <input type="number" name="contact"placeholder="Enter Your Contact"><br>
            <input type="email" name="email" placeholder="Enter Your Email"><br>
            <input type="password" name="password" placeholder="Enter Your Password"><br><br>
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>